html {
    box-sizing: border-box;
    font-size: 17px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.container {
    display: flex;
    flex-flow: column wrap;
}

.form {
    visibility: hidden;
}

.books {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.book {
    outline: hotpink solid;
    padding: 2rem;
}

.btn {
    margin-top: 1rem;
}